#favorite__page {
  // width: 100%;
  height: auto;
  padding-top: 10rem;
}

.favorite__page {
  width: 90%;
  list-style: none;
  margin: 20px auto;

}

.fav__image {
position: relative;
cursor: pointer;
// border: 1px solid red;
//   display: flex;
// width: 300px;
// box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
// margin: 20px 0;

  .fav--image {
    display: block;
    width: 100%;
    // border: 4px double rgba(0, 0, 0, .12);

  }

  .delete--icon {
    // visibility: hidden;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: .5s ease;
    opacity: 0;
  }
}

.fav__image:hover .delete--icon {
  opacity: 1;
  // visibility: visible;
}
.no--images {
  font-size: $extra-large-size;
  color: $main-color;
  align-self: center;
}