@import 'variables';

@mixin icons {
  font-size: 4rem;
  color: $main-color;
}

.menu--icon {
  @include icons();
}
.search--icon {
  @include icons();
}

.like--icon {
  @include icons();
  transition: .3s ease;
}

.like--icon--active {
  @include icons();
  // background-color: red;
  border: 1px solid red;
}

.liked__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .liked--icon {
    
    font-size: $jumbo-size;
    animation-name: like;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}


@keyframes like {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.like--icon:active {
  transform: scale(1.1)
}

.dislike--icon {
  @include icons(); 
}

.close--icon {
  @include icons();
  transition: .3s ease;
}

.close--icon:active {
  transform: scale(1.1)
}

.collection--icon {
  @include icons();
}

.links--icon {
  @include icons();
}
.left--icon {
  @include icons();
}

.right--icon {
  @include icons();
}

.delete--icon {
  @include icons();
}

.back--icon {
  @include icons();
}

