// @import 'variables';

.images__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow: hidden;
  margin: 5rem 0;
}

@mixin cards($width, $height) {
  width: $width;
  height: $height;
}

@mixin info-card($size, $color, $weight, $letter-spacing) {
  @debug "info of: #{ $size }"; 
  font-size: $size;
  color: $color;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
}

.card {
  width: 100%;
  height: 15rem;
  margin: 0 auto;
  opacity: .9;
  transition: .3s ease-in;
  // margin-bottom: 5rem

  

}

.small__card {
  @include cards(100%, 15rem);
  overflow: hidden;
  position: relative;
  background-color: $header-color;
  // margin-bottom: 2rem;
  transition: .1s ease;


  .image__resolution__selection {
    width: inherit;
    height: inherit;
    .lazy-load-image-background.blur.lazy-load-image-loaded {
      width: 100%;
      height: inherit;
      cursor: pointer;
    }
    .lazy-load-image-background.blur.lazy-load-image-loaded > .small--image--card {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  

  // .lazy-load-image-loaded {
  //   width: inherit;
  //   height: inherit;
  //     // .small--image--card {
  //     //   width: inherit;
  //     //   height: inherit;
  //     //   object-fit: cover;
  //     // }
  // }
  // picture {
  //   width: inherit;
  //   height: inherit;

  // }
}


.card:active {
  opacity: .7;
  transform: scale(.98);
}

.card:hover {
  opacity: 1;
  // border: 1px solid $main-color;
}
// .small__card:hover {
//   transform: scale(1.1);
// }

// .small__card:hover ~ .image__info {
//   padding: 1rem ;
//   border: 1px solid $main-color;
// }

// .small--image--card {
//   width: 100%;
//     height: inherit;
//     object-fit: cover;
// }

.image__info {
  position: relative;
  transition: .3s ease
  // width: 50%;
  // position: absolute;
  // bottom: 5%;
  // left: 5%;
}



.title--card {
  @include info-card($extra-large-size, $main-color, $light-weight, 2px);
  padding-top: 2rem;
  padding-left: 1rem;
  // font-size: $regular-size;
}

.sub--title--card {
  @include info-card($small-size, $secondary-color, $regular-weight, 2px );
  position: absolute;
  top: 2%;
  text-transform: uppercase;
}

.info--card {
  @include info-card($small-size, $secondary-color, $light-weight, 1px);
  text-align: left;
  line-height: 2.5rem;
}

.card--ribbon {
  position: absolute;
  width: 50rem;
  height: 7rem;
  background-color: #334756;
  transform: rotate(-45deg);
  opacity: 0.7;
}

.icons__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;

  .like--icon, .dislike--icon {
    font-size: $extra-large-size;
  }
}
