/*HEADER*/

@media only screen and ( min-width: 768px ) {
  .search__form {

  }

  // .search--input {
  //   position: fixed;
  //   top: 15%;
  // }
}

@media only screen and( min-width: 1024px ) {

  .menu--icon {
    // display: none;
    // display: ;
  }

  .search__form {
    // position: absolute;
    // top: 9rem;
    // transform: translateX(0);
    // right: 5%;
    // left: -10rem;
  }

  .menu__list {
    flex-direction: row;
    // width: 70%;
    justify-content: flex-end;
    position: static;
    margin: 0;
    margin-right: 2rem;
  }

  .list--item {
    margin-right: 2rem;
  }

  .responsive {
    display: flex;
  }

  .menu__dropdown {
    // display: none;
  }

  .desk__menu {
    display: flex;
  }
}


/*MAIN PAGE*/

@media only screen and ( min-width: 667px ) {
  .images__container {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 1rem;
  }
}

@media only screen and( min-width: 768px ) {
  .images__container {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and( min-width: 1024px ) {
  .images__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .info {
    width: 70%;
    margin: 0 auto;
  }

  .hero__gallery {
    display: flex;
    width: 90%;
    height: 100vh;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);

    .img--gallery--active {
      width: 80%;
      height: inherit;
    }

    
  }

  
  .hero--image {
    filter: blur(15px);
  }
  // .main__info {
    //   width: 30%;
    //   left: 0;
    //   top: 30%;
    // }
  }
  
  @media only screen and ( min-width: 1024px ) and ( min-height: 1366px ) {
  .hero__gallery {
    display: flex;
    width: 90%;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
  }

  #main .slider__controls {
    display: flex;
  }
  .modal__image__container {

    .modal--image {
      width: 80%;
    }
  }
}

@media only screen and ( min-width: 1366px ) {
  
  .hero__gallery {
    display: flex;
    width: 90%;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
  }

}

@media only screen and ( min-width: 1680px ) {
  
  .hero__gallery {
    width: 100%;
    
    .img--gallery--active {
      width: 50%;
      height: 60rem;
    }

    .img--gallery--none {
      display: block;
      // display: inline-block;
      // opacity: 1;
    }
  }
  
  .modal__image__container {

    .modal--image {
      width: 80%;
    }
  }
  .main__info {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .images__container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1920px) {
  #main {
    display: flex;
    justify-content: center;
  }

  .hero__gallery {
    // width: 70%;
    // .img--gallery--active {
    //   width: 70%;
    //   height: 60rem;
    // }
  }

  .modal__image__container {

    .modal--image {
      // width: 0%;
    }
  }
  

}

/* MAIN GALLERY */

// @media only screen and ( min-width: 1024px ) {
//   .small__card {
//     height: 25rem;
//   }
// }
@media only screen and ( min-width: 1680px ) {
  .card {
    height: 40rem;
  }
}
// @media only screen and ( min-width: 1920px ) {
//   .small__card {
//     // height: 3rem;
//   }
// }

/*MODAL*/

@media only screen and ( min-width: 667px ) {

  .photos__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .user__collections {
    grid-template-columns: repeat(3, 1fr);
  }
  .user__info {
    justify-content: space-around;
  }
}

@media only screen and ( min-width: 768px ) {
  
  // .user__info {
  //   justify-content: space-around;
  // }

  .small__card {
    height: 30rem;
  }

  .image__container {
    // min-height: 200px;
  }
}
@media only screen and ( min-width: 1024px ) {

  .small__card {
    height: 25rem;
  }
  .user__stats {
    width: 30%;
  }
  .photos__grid {
    // background-color: grey;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    // columns: 3;
    // column-gap: 1rem;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;
  }

  .photos__grid:hover {
    transform: scale(1);
  }

  .user__collections {
    grid-template-columns: repeat(4, 1fr);
  }

  .collections {
    height: 20rem;
  }
}

@media only screen and ( min-width: 1920px ) {
  .photos__grid {
    // background-color: grey;
    columns: 4;
    column-gap: 1rem;
  }

  .user__collections {
    grid-template-columns: repeat(4, 1fr);
  }

  .collections {
    height: 40rem;
  }

}


//MODAL IMAGES MAIN PAGE

@media only screen and ( min-width: 1920px ) {
  // modal
}

//FAVORITE PAGE

@media only screen and ( min-width: 1024px ) {
  .favorite__page {
    .fav__image {
      // border: 3px solid green;
      height: 20rem;    
      // padding-top: 4rem;
      .fav--image {
        height: inherit;
      }
    }
  }
  
  .grid__images {
    column-count: 4;
  }
}