/*HEADER*/

@media only screen and ( min-width: 768px ) {
  
}

@media only screen and( min-width: 1024px ) {

  .menu--icon {
    display: none;
    // display: ;
  }

  .search__form {
    position: absolute;
    top: 5rem;
    left: -10rem;
  }

  .desk__menu {
    display: flex;
  }
}


/*MAIN PAGE*/

@media only screen and( min-width: 768px ) {
  .images__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and( min-width: 1024px ) {
  .images__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .info {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1920px) {
  #main {
    display: flex;
    justify-content: center;
  }

}

/* MAIN GALLERY */

@media only screen and ( min-width: 1024px ) {
  .small__card {
    height: 25rem;
  }
}
@media only screen and ( min-width: 1920px ) {
  .small__card {
    height: 30rem;
  }
}

/*MODAL*/

@media only screen and ( min-width: 768px ) {
  
  .user__info {
    justify-content: space-around;
  }
  .photos__grid {
    display: grid;
    // background-color: grey;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .image__container {
    min-height: 200px;
  }
}
@media only screen and ( min-width: 1024px ) {
  .photos__grid {
    // background-color: grey;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    // columns: 3;
    // column-gap: 1rem;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;
  }

  .photos__grid:hover {
    transform: scale(1);
  }
}

@media only screen and ( min-width: 1920px ) {
  .photos__grid {
    // background-color: grey;
    columns: 4;
    column-gap: 1rem;
  }
}