.modal__image__info {
  // display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  overflow-y: scroll;
  background-color: $background-color;
  // background-color: $background-color;

  .close--icon {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 1;
  }
}

.username {
  width: 100%;
  height: 7rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: #0000008e;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  padding: 0 1rem;
  z-index: 1;
  .close--icon {
    // position: absolute;
    // right: 5%;
    // top: 5%;
    // justify-self: flex-end;
  }

  
}


.username__profile__image {
  // overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  
  
  
}

.username--profile--image {
  width: 5rem;
  height: 5rem;
  border: 3px solid $main-color;
  border-radius: 50%;
  margin-right: 1rem;

  // width: 100%;
  // height: inherit;
  object-fit: cover;
}
.user__name {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1;
}

.username--profile {
  font-size: $large-size;
  color: $main-color;
}


.modal__image {
  // position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100vh;
  // flex-direction: column;
  top: 0;
  z-index: -1;
  
}
.modal__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;
  // height: 90vh;
  margin: 1rem auto;
  border-radius: 8px;
  overflow: hidden;

  .modal--image {
    width: 100%;
    // // height: 100vh;
    // object-fit: cover;
  }
  .image--description {
    width: 101%;
    height: 20rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translateX(-50%);
    font-size: $regular-size;
    font-weight: $light-weight;
    color: $main-color;
    background-color: $transparent-color;
  }

  .likes {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 30rem;
    bottom: 10%;
    right: 0;
    width: 30rem;
    font-size: $large-size;
    color: $main-color;
    z-index: 1;
  }

  .image--position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* right: 10%; */
    background-color: $transparent-color;
    transform: translateX(-50%);
    font-size: $extra-large-size;
    color: $main-color;
  }
}

  #main .slider__controls {
    display: none;
  }
.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 3rem;

  @mixin slide-controls {
    position: absolute;
    font-size: $extra-large-size
  }
  
  .left--icon {
    @include slide-controls;
    left: 3%;;
  }
  .right--icon {
    @include slide-controls;
    right: 3%;;
  }

}