.user__page {
  // display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  // top: 0;
  // margin-top: 5rem;
  background-color: $header-color;
  // padding-top: 12rem;
  z-index: 1;
  overflow-y:scroll;

  // .close--icon {
  //   position: fixed;
  //   // font-size: $extra;
  //   top: 5%;
  //   right: 5%;
  //   z-index: 2;
  // }
  
  #header {
    z-index: 1;
  }
  .back--icon {
    position: absolute;
    top: 8%;
    left: 5%;
    z-index: 2;
  }
  // text-align: center;
}

.bg__image {
  width: 100%;
  height: 40rem;
  position: relative;
  // background-image: url('../photo2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity:  .5;
}

.user__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20rem;
  margin-top: 5rem;
}


.user__picture {
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $shadow-profile;
  // position: absolute;
  // bottom: -10%;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: -1;
  
  .user--picture--img {
    // width: 100%;
    width: inherit;
    height: inherit;
    object-fit: cover;
    // border-radius: 50%;
  }

  .user--name {
    font-size: $regular-size;
    color: $main-color;
  }
}

.user__stats {
  // background-color: lightblue;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  height: auto;

  .user--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    font-size: $small-size;
    color: $main-color;
  }
}

.user__personal__info {
  margin: 1rem 0;
  .list--item {
    font-weight: $light-weight;
  }
}

.user__list {
  display: block;
  width: 100%;
  height: auto;
}

.list--item {
  font-size: $regular-size;
  color: $main-color;
}

.user__portafolio {
  display: flex;
  justify-content: space-evenly;
  // margin-bottom: 10rem;
  // border: 1px solid $main-color;
  

  .collection--icon, .links--icon {
    margin-left: 1rem;
    padding: 1rem;
    font-size: $jumbo-size;
    // border-left: 1px solid $main-color;
    // border-right: 1px solid $main-color;
    transition: .2s ease-in;
  }

  .collection--icon:hover, .links--icon:hover {
    background-color: $main-color;
    color: $secondary-color;
  }


}

.photos__grid {
  // display: grid;
  // grid-template-columns: 1fr;
  // gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 5rem;
  // gap: 1fr;
  // margin-top: 2rem;
  .card {
    width: 100%;
    // height: 20rem;
  }
}

.image__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  // height: 15rem;
  // height: auto;
  // box-shadow: $shadow-cards;
  opacity: 0.7;
  transition: ease .3s;
  // background-color: $secondary-color;
  .like--icon {
    opacity: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    // margin-top: 1rem ;
  }
}

.image__container:hover {
  opacity: 1;
  // transform: scale(1.1);
  // border: 1px solid $secondary-color;
  z-index: 1;
  // margin: 2rem 0;
}

.image__container:hover .like--icon {
  opacity: 1;
}

.photo__info {
  // display: none;
  // position: absolute;
  // bottom: 0%;
  text-align: justify;
  // padding: 0 1rem;
  /* background-color: #797c7e; */
  height: auto;
  background-color: #181818;
  opacity: 0.9;
  // padding-bottom: 5rem;
  .photo--description {
    // padding: 2rem 0;
    margin-top: 1rem;
    font-size: $small-size;
    font-weight: $light-weight;
    color: $main-color;
  }
  

}

.grid--image {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.user__collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  // margin-top: 5rem;
  margin: 5rem 0;
}

@mixin image--position($position, $order, $opacity) {
  width: 100%;
  height: inherit;
  position: absolute;
  left: $position;
  bottom: $position;
  transform: translateY(-$position);
  box-shadow: $shadow-cards;
  object-fit: cover;
  z-index: $order;
  // border: 1px solid $main-color;
  opacity: $opacity;
}

  .collection__container {
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
    // border: 1px solid red;
  }

  .collections {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 15rem;
    position: relative;
    margin: 0 auto;
    // margin-bottom: 3rem;
    transition: .3s ease;
    
    .photo--1 {
      @include image--position(0, 3, 1)
    }
    .photo--2 {
      @include image--position(5%, 2, .5)
    }
    .photo {
      width: 50%;
      height: 50%;
      padding: .5rem;
      object-fit: cover;
    }

    .total--photos {
      position: absolute;
      bottom: 10%;
      right: 10%;
      padding: .5rem;
      background-color: $transparent-color;
      border: 1px solid $main-color;
      font-size: $regular-size;
      color: $main-color;
      z-index: 3;
    }
    // .photo--3 {
    //   @include image--position(15%, 1)
    // }
  }
  
  
  .collection--name {
    font-size: $small-size;
    font-weight: $light-weight;
    color: $main-color;
  }
.collections:active {
  transform: scale(1.2);
}
