//COLORS
$header-color: #181818;
$background-color: #000000;
$background-color-2: #00000086;
$transparent-color: #0000006c;
$main-color: #FFFFFF;
$secondary-color: #aaa9a9;
$secondary-color-fade: #aaa9a93b;
$ribbon-color: #334756;

//FONTS
$font: 'Poppins', sans-serif;

$jumbo-size: 5.4rem;
$extra-large-size: 3rem;
$large-size: 2rem;
$regular-size: 1.6rem;
$small-size: 1.4rem;
$extra-small-size: 1.2rem;

$extra-light-weight: 200;
$light-weight: 300;
$regular-weight: 500;
$heavy-weight: 700;

//SHADOWS

$shadow-box: 0 5px 10px 10px #181818;
$shadow-cards: 0 0 3px 3px #1818185e;
$shadow-profile: 0 0 4px 4px $secondary-color-fade;

//IMAGES
$width-small-card: 40rem;
$height-small-card: 20rem;

$width-medium-card: 56rem;
$height-medium-card: 40rem;

$width-medium-card: 80rem;
$height-medium-card: 50rem;